/* demo контейнер */
.demo {
    padding: 0 20px;
    margin: 10px 5%;
    text-align: center;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}



/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: rgba(#887f7f, 0.1);
    margin-left: 20px;
    padding: 10px;

    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s;
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s;
}
.demo div {
  text-align:left ;
  color: black;
}

.demo label{
  cursor: pointer;
  color:black;
  font-style: italic;
}



.hide + label::after {
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    background-color: #1e90ff;
    color: #fff;
    content:"\2228";
    float: right;
    margin: auto;
    display: block;
    font-size: 15px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height:18px;
    border-radius: 50%;

}



.hide:checked + label::after {
    content: "\2227";
}
